.scrollbar-override::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

.scrollbar-override::-webkit-scrollbar-track {
    width: 6px;
    height: 6px
}

.scrollbar-override::-webkit-scrollbar-thumb {
    background: #f1f2f9;
    border-radius: 24px
}